@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background-color: #131722;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.navbar .navbar-nav span {
  cursor: pointer;
}
.navbar .navbar-nav .fa-brands{
  cursor: pointer;
}
.navbar .navbar-nav  .facebook,
.navbar .navbar-nav  .twitter,
.navbar .navbar-nav  .instagram,
.navbar .navbar-nav  .spotify {
  transition:  0.5s;
}
.navbar .navbar-nav  .facebook:hover {
  color: #1877f2;
}
.navbar .navbar-nav  .twitter:hover {
  color: #1da1f2;
}
.navbar .navbar-nav  .instagram:hover {
  color: #405de6;
}
.navbar .navbar-nav  .spotify:hover {
  color: #1db954;
}
::-ms-reveal {
  filter: invert(100%);
}
.home {
  background-image: url(/src/Assets/title-image-1.eb5e2899315f131fed94.webp);
}
.api .box {
position: relative;
}
.api .box::before {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 25%;
  background-color:    #a8a8a83d;
}
.api .box::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50%;
  background-color:    #a8a8a83d;
}
.api.person .image_null {
  height: 303.99px;
  object-fit: cover;
}